<ion-content class="ion-padding">
  <div class="container">
    <img src="../../assets/logo.svg" height="auto" width="250" class="ion-margin-top ion-margin-bottom ion-text-center">
    <p class="ion-text-center text-dark fw-medium">Welcome to StratWay.</p>
    <ion-form class="ion-margin-top ion-flex ion-justify-content-center ion-align-items-center">
      <ion-item class="ion-margin-bottom">
        <ion-label position="floating">Email</ion-label>
        <ion-input type="text"></ion-input>
      </ion-item>
      <ion-item class="ion-margin-bottom">
        <ion-label position="floating">Password</ion-label>
        <ion-input type="password"></ion-input>
      </ion-item>
      <a class="ion-text-center ion-text-primary">Forgot password?</a>
      <ion-button expand="full" class="ion-margin-top ion-text-bold ion-color-primary">Sign
        in</ion-button>
    </ion-form>
    <p class="fw-medium text-dark">New to StratWay? <a class="ion-text-primary fw-bold">Create account.</a></p>
  </div>
</ion-content>