ion-content {
  --ion-background-color: white;
  color: rgb(30, 30, 30);

}

ion-item ion-input {
  --color: white;
}

.text-dark {
  color: rgb(30, 30, 30);
}


.fw-medium {
  font-weight: 500;
}

.fw-bold {
  font-weight: 600;
}

img {
  display: block;
  margin: auto;
}