<ion-content>
    <p style="text-align: center;">
       <img  src="assets/icon/Group.png" class="logo"/>
    </p>
       <h6 style="text-align: center; color: dimgray;">create your account</h6>
       <img src="assets/icon/utilisateur.png" class="name"/>
       <ion-item>
        <ion-input label="Full name" placeholder="Enter text"></ion-input>
      </ion-item>
    
       <img src="assets/icon/email (1).png" class="email"/>
     <ion-item>
            <ion-input label="Email :" type="email" placeholder="email@domain.com"></ion-input>
     </ion-item>  
      <img src="assets/icon/appel-telephonique.png" class="phone"/>
      <ion-item>
        <ion-input label="Telephone :" type="tel" placeholder="888-888-8888"></ion-input>
      </ion-item>
      <img src="assets/icon/intimite.png" class="password"/>
      <ion-item>
        <ion-input label="Password : " type="password" value="password"></ion-input>
      </ion-item>
      <ion-item>
        <ion-input label="Confirm password : " type="password" value="password"></ion-input>
      </ion-item>
      <p style="text-align: center;">
      <ion-button shape="round">Register</ion-button>
      </p>
      <h6 style="text-align: center; color: dimgray;">already have an account?</h6>
      <p style="text-align: center;">
      <ion-button fill="clear" >sign in</ion-button>
      </p>
</ion-content>
