.logo{
    margin-top: 20px;
}

.email{
    height: 40px;
    margin-left: 10px;
}
.phone{
    height: 40px;
    margin-left: 10px;
}
.name{
    height: 50px;
    margin-left: 1px;
}
.password{
    height: 40px;
    margin-left: 10px;
}
