<ion-header no-shadow class="ion-no-border">
  <ion-list lines="none">
    <ion-item style="height: 100px" color="secondary">
      <ion-icon name="arrow-back"></ion-icon>
      <ion-label class="ion-text-start" size="large">
        <ion-text>Settings</ion-text>
      </ion-label>
     
      </ion-item>
  </ion-list>
</ion-header>
  

<ion-content color="light">
  <ion-list lines="none" class="ion-margin-vertical ion-margin-top">


    <ion-item>
      <ion-icon slot="start" name="moon" color="secondary"></ion-icon>
      <ion-label>
        <ion-text color="dark">Dark mode</ion-text>
        <p><ion-text >turn on to see the magic</ion-text></p>
      </ion-label>
      <ion-toggle [(ngModel)]="darkMode"></ion-toggle>
    </ion-item>

    <ion-item>
      <ion-icon slot="start" name="notifications" color="secondary"></ion-icon>
      <ion-label>
        <ion-text color="dark">Notifications</ion-text>
        <p><ion-text >change app notifications settings</ion-text></p>
      </ion-label>
      <ion-toggle [(ngModel)]="notifications"></ion-toggle>
    </ion-item>

    <ion-item>
      <ion-icon slot="start" name="language" color="secondary"></ion-icon>
      <ion-label>
        <ion-text color="dark">Language</ion-text>
        <p><ion-text >change to the language you prefer</ion-text></p>
      </ion-label>
      <ion-select [(ngModel)]="selectedLanguage">
        <ion-select-option value="en">English</ion-select-option>
        <ion-select-option value="fr">Français </ion-select-option>
        <ion-select-option value="ar">العربية</ion-select-option>
      </ion-select>
    </ion-item>

    <ion-item>
      <ion-icon slot="start" name="sync" color="secondary"></ion-icon>
      <ion-label>
        <ion-text color="dark">Syncing</ion-text>
        <p><ion-text>sync data with server</ion-text></p>
      </ion-label>
      <ion-button fill="outline" slot="end">Sync now</ion-button>
    </ion-item>

    <ion-item>
      <ion-icon slot="start" name="help" color="secondary"></ion-icon>
      <ion-label>
        <ion-text color="dark">Help</ion-text>
        <p><ion-text>Help center, privacy policy</ion-text></p>
      </ion-label>
      <ion-button fill="outline" slot="end">Contact us</ion-button>
    </ion-item>

  </ion-list>
</ion-content>
